<mat-input-container *ngIf="!this.hasCompany" style="margin-top:30px; margin-left: 20px; width: auto">
  <span>Please select a company from the left menu.</span>
</mat-input-container>
<mat-accordion>
  <mat-expansion-panel *ngFor="let note of notes; let i = index" class="company-list-item" (opened)="opened(i)"
                       [expanded]="this.noteExIdx === i">
    <mat-expansion-panel-header>
      <mat-panel-title style="font-size: 20px; overflow: hidden">
        {{note.title}}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div>
      <span class="spacer"></span>
      <button class="to-right" #edit mat-button *ngIf="this.noteExIdx===i&&!this.noteEdMode"
              (click)="this.noteEdMode=true">Edit
      </button>
      <button class="to-right" #edit mat-raised-button color="primary"
              *ngIf="this.noteExIdx===i&&this.noteEdMode" (click)="saveContent(note, content.value)">Save
      </button>
      <button class="to-right" mat-button (click)="delete(note)">Del</button>
    </div>

    <h5 class="to-right" style="width: 100%; color: #999999">{{note.timestamp | date:'shortTime'}}&nbsp;&nbsp;&nbsp;&nbsp;{{note.timestamp
      | date}}</h5>

    <div>
      <mat-form-field style="width: 100%">
        <textarea #content matInput="" matTextareaAutosize
                  [readonly]="!this.noteEdMode">{{note.content}}</textarea>
      </mat-form-field>

    </div>
  </mat-expansion-panel>
</mat-accordion>
