<div style="width: 50%; height: 200px; margin: 40px auto;">
  <button mat-button color="primary" (click)="auth.googleLogin()" style="width: 100%; height: 100px">
    <i class="fa fa-google"></i>
    Google Login
  </button>
  <button mat-button color="primary" (click)="auth.githubLogin()" style="width: 100%; height: 100px">
    <i class="fa fa-github"></i>
    Github Login
  </button>
</div>
