.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

.content {
  display: flex;
  height: 100%;
}

.sidenav {
  height: 100%;
  flex: 1;
  width: 400px;
  max-width: 80%;
  border-right: 2px solid #999999;
}

.comp-list {
  width: 100%;
  height: 100%;
  background-color: #AAAAAA;
  color: whitesmoke;
  overflow: scroll;
}

.toolbar {
  height: 66px;
  width: 100%;
  background-color: #FFFFFF;
  position: relative;
}

.main-content-container {
  height: -webkit-calc(100% - 150px);
  height: -moz-calc(100% - 150px);
  height: calc(100% - 150px);
  width: auto;
  padding: 8px;
  overflow: scroll;
  background-color: rgb(246, 246, 246);
}

.search-container {
  height: 66px;
  width: 100%;
  background-color: #FFFFFF;
  position: absolute;
  bottom: 0;
}

.nav-icon {
  margin: 0px;
  padding: 0px;
}

.spacer {
  flex: 1 1 auto;
}

.company-title {
  margin-left: 20px;
}
