<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
    <!--<p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>-->
    <!--<button (click)="showFiller = !showFiller" mat-raised-button>-->
    <!--Toggle extra text-->
    <!--</button>-->

    <div class="comp-list">
      <app-companylist [companies]="this.dataS.companies" [compEdMode]="this.dataS.compEdMode" [compExIdx]="this.dataS.compExIdx"
        (onOpened)="init($event)" (onAdd)="addCompany()" (onUpdateSave)="updatesaveComp($event)"
                       (onDelete)="deleteCompany($event)"></app-companylist>
    </div>

  </mat-drawer>

  <div style="height: 100%; padding: 0px; margin: 0px;">
    <mat-toolbar class="toolbar">
      <mat-toolbar-row>
        <button mat-icon-button class="nav-icon" (click)="drawer.toggle()">
          <mat-icon *ngIf="drawer.opened">keyboard_backspace</mat-icon>
          <mat-icon *ngIf="!drawer.opened">list</mat-icon>
        </button>


        <span class="company-title" *ngIf="this.dataS.currentCompany">{{this.dataS.currentCompany.title}}</span>
        <span class="spacer"></span>
        <button mat-icon-button style="margin-right: 12px; visibility:hidden">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button (click)="addNote()">
          <mat-icon class="nav-icon">create</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="main-content-container spacer">
      <app-notelist (onDelete)="deleteNote($event)" (onUpdateSave)="updatesaveNote($event)"
                    [notes]="this.dataS.notes" [hasCompany]="this.dataS.currentCompany"
                    [noteEdMode]="this.dataS.noteEdMode" [noteExIdx]="this.dataS.noteExIdx"
      >

      </app-notelist>
    </div>

    <mat-toolbar class="search-container">
      <button mat-icon-button (click)="logout()">
        <mat-icon>people</mat-icon>
      </button>

      <span>{{currentUser.email}}</span>

      <span class="spacer"></span>

      <div style="background-color: aliceblue">
        <input matInput placeholder="search" style="width: 100%; padding-left: 14px" class="form-control"
               (input)="onSearchChange($event.target.value)">
      </div>

    </mat-toolbar>
  </div>

</mat-drawer-container>
