.spacer {
  flex: 1 1 auto;
}

.company-list-item {
  overflow: hidden;
  width: 100%;
}

.company-content {
  height: auto;
  overflow: visible;
}

.fab-bottom-right {
  top: auto;
  right: 20px;
  margin-bottom: 20px;
  left: auto;
  position: fixed;
}

.to-right {
  position: relative;
  float: right;
  margin-bottom: 10px;
}
