<mat-accordion>
  <form [formGroup]="companyForm" novalidate>
    <mat-expansion-panel *ngFor="let company of companies; let i = index" class="company-list-item" (opened)="opened(i)"
                         [expanded]="this.compExIdx === i">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{company.title}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div>
        <mat-form-field style="width: 100%">
          <textarea #content matInput="" matTextareaAutosize
                    [readonly]="!this.compEdMode">{{company.content}}</textarea>
        </mat-form-field>

        <div>
          <span class="spacer"></span>
          <button class="to-right" #edit mat-button *ngIf="this.compExIdx===i&&!this.compEdMode"
                  (click)="this.compEdMode=true">Edit
          </button>
          <button class="to-right" #edit mat-raised-button color="primary" *ngIf="this.compExIdx===i&&this.compEdMode"
                  (click)="saveContent(company, content.value)">Save
          </button>
          <button class="to-right" mat-button (click)="delete(company);">Del</button>

        </div>
      </div>
    </mat-expansion-panel>

    <button mat-mini-fab style="bottom:0" class="fab-bottom-right" (click)="add()">
      <mat-icon>add</mat-icon>
    </button>
  </form>
</mat-accordion>
